#p1{
    text-decoration: underline;
    color: blue;
}

#p2{
    text-decoration: overline;
    color: red;
}

#p3{
    text-decoration: line-through;
    color: gold;
}

#p4{
    text-decoration: overline underline;
    color: purple;
}

#p5{
    text-decoration: line-through overline;
    color: blueviolet;
}

#p6{
    text-decoration: line-through underline;
    color: brown;
}

#p7{
    text-decoration: overline underline line-through;
    color: aquamarine;
}