* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background-color: rgb(28, 28, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 200px;
    padding: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 150px;
}

main img {
    width: 400px;
}