p {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
}

button {
    color: black;
    background-color: azure;
}

.Button1 {
    color: aliceblue;
    background-color: black;
}

#hello {
    color: brown;
    background-color: blue;
}