a:link{
     /*ეს pseudo element გამოიყენება ლინკებზე, სანამ მათზე შევალთ*/
     color:red
}

a:visited{
     /*ეს pseudo element გამოიყენება ლინკებისთვის. როდესაც მასზე დავაჭერთ და კიდევ დავუბრუნდებით ვნახავთ, რომ მისი თვისებები(ფერები, დიზაინი და სხვ.) შეცვლილი იქნება*/
     color:blueviolet
}

a:hover{
     /*hover გამოიყენება მაშინ, როდესაც ჩვენ ელემეტის გასტილვა გვინდა მაუსის მიტანის დროს*/
     font-size: larger;
     color: black;
     text-decoration: none;
}

a:active{
     /*active გამოიყენება, რომ გავსტილოთ რაიმე ელემენტი დაჭერისას*/
     color: sienna;
}