@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

header {
    background-color: black;
    color: #fff;
    display: flex;
    gap: 100px;
}

header h3 {
    padding: 65px 95px;
    font-weight: 500;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0%;
    color: #5846FB;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 55px;
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #fff;
    color: black;
    width: 687px;
    height: 75px;
    margin-top: 50px;
    padding: 16px;
    border-radius: 100px;
}

.txt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 150px;
    gap: 30px;
}

.txt1 h1 {
    font-weight: 500;
    font-size: 120px;
    line-height: 146px;
    letter-spacing: -2%;
    text-align: center;
}

.txt1 p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.txt1 button {
    background-color: #5846FB;
    border: none;
    padding: 19px 70px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
}

.all-div {
    background-color: black;
    color: white;
}

#special-p {
    padding: 35px 95px;
    font-weight: 500;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0%;
}

.divs1 {
    display: flex;
    padding-left: 95px;
    gap: 20px;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #1F2123;
    border-radius: 100px;
    padding: 30px 23px;
    font-size: 16.10908px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.div img {
    width: 50px;
    height: 50px;
}

.hero-div {
    border-bottom-right-radius: 100pX;
    border-bottom-left-radius: 100px;
}

.sN2 {
    display: flex;
    padding-left: 95px;
    padding-right: 25px;
    padding-top: 140px;
    gap: 250px;
}

.divs2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.txt2 h2 {
    font-weight: 500;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -2%;
    padding-bottom: 25px;
}

.txt2 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    padding-bottom: 25px;
}

.txt2 button {
    width: 150px;
    height: 48px;
    border: none;
    background-color: #5846fb;
    color: white;
    border-radius: 100px;
}

.percentage-img {
    display: flex;
    gap: 20px;
}

.percentage-img p {
    background-color: #F0F0F0;
    height: 110px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 45px;
    line-height: 86px;
    letter-spacing: 0%;
    border-radius: 100px;
}

.percentage-img img {
    height: 105px;
}

.total {
    background-color: #5846FB;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 470px;
    height: 100px;
}

.total h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 86px;
    letter-spacing: 0%;
    color: #fff;

}

.total p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
}

.data {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.data img {
    width: 110px;
}

.helper-p {
    background-color: #F0F0F0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0%;
    padding: 30px;
}

.helper-p p {
    font-size: 18px;
}

.sN3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 95px;
    gap: 40px;
}

.sN3 h5 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -2%;
    text-align: center;
}

.divs3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #F0F0F0;
    height: 500px;
    width: 400px;
    border-radius: 40px;
    padding: 30px;
}

.div-img {
    background-color: #5846fb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt3 {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.hp {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0%;
}

.p-3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #5846FB;
}

#special {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
}

.sN4{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 95px;
}

.txt-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.txt4{
    display: flex;
    flex-direction: column;
    jus
}