#p1{
    color: green;
}

#p2{
    color: red;
}

#p3{
    color: purple;
}

#p4{
    color: aquamarine;
}

#p5{
    color: chocolate;
}

.p6{
    color: darkgreen;
}

.p8{
    color: brown;
}

.p9{
    color: blueviolet;
}

